<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <title>Document</title>
  <style>
    *
    {
        margin: 0;
        padding: 0;
        font-family: 'Crimson Text', serif;
    }
    .main{
        width: 100%;
        height: 780px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* dark color background-color: #501D61; */
        background-color: #BD45E6;
    }
    .main table{
        border-collapse: collapse;
    }
    td,th{
      width: 155px;
      height: 80px;
      padding: 8px;
      text-align: center;
      border: 1px solid #ddd;
    }
  </style>
</head>
<body>
<div class="main">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                <th>10TH PERCENTAGE</th>
                <th>12TH PERCENTAGE</th>
                <th>DEGREE</th>
                <th>STREAM</th>
            </tr>
        </thead>
    </table>
    <%   users.map(result=>{   %>
    <table>
        <tbody>
        <tr>
        <td><%= result.name %></td>
        <td><%= result.age %></td>
        <td><%= result.phone %></td>
        <td><%= result.email %></td>
        <td><%= result.ten %></td>
        <td><%= result.twelve %></td>
        <td><%= result.degree %></td>
        <td><%= result.stream %></td>
        </tr>
        </tbody>
    </table>
<%   })    %>
</div>


   
    
</body>
</html>